html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: "Dosis", sans-serif;
    font-display: swap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 25px 35px;
}

/* h2 {
    position: absolute;
    top: 10%;
    left: 50%;
}

form {
    position: absolute;
    top: 10%;
    left: 50%;
} */